# Node modules (riesig, muss nicht ins Repo)
node_modules/

# Umgebungsvariablen / Geheimnisse
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sonstiger Build/Cache
dist/
build/
